.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.victory {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}